.content-rows{
	.content-row{
		&.no-padding{
			padding-top: 0;
		}
		&.bg-black{
			background: black;
		}
		position: relative;
		&.text-white{
			color: $ivory!important;
			p{
				color: $ivory!important;
			}
			.cta-button{
				background: $ivory;
				&:hover{
					color: black!important;
				}
			}
		}
		&.text-black{
			color: black;
		}
		img.row-bg{
			object-fit:cover;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.richtext{
		text-align: center;
		width: 100%;
		z-index: 1;
		position: relative;
		padding: 100px 2em;
		display: flex;
		align-items: center;
		justify-content: center;
		&.black-background{
			background: black;
			color: $ivory;
		}
		&.align-right{
			justify-content: flex-end;
		}
		&.align-left{
			justify-content: flex-start;
		}
		.text-content{
			max-width: 700px;
		}
		p{
			margin-bottom: 2em;
			font-size: 14px;
			line-height: 1.5em;
			&:last-child{
				margin-bottom: 0;
			}
		}
		
		a:not(.cta-button){
			color: black;
			display: inline-block;
			&:after{
				content: '';
				display: block;
				width: 100%;
				border-bottom: 1px solid black;
				border-color: transparent;
				@include transform(translateY(2px));
				@include transition((transform .3s ease-in-out, -webkit-transform .3s ease-in-out, border-color .3s ease-in-out ));

			}
			&:hover{
				&:after{
					@include transform(translateY(0px));
					border-color: black;
				}
			}
		}

	}
	.shortcode{
		span.mb-siwc-tag{
			text-align: center;
			line-height: 27px;
			color: white;
			background: rgba(0,0,0,.7);
			border: 1px solid white;
		}
		.siwc-icon-plus_thin:before{
			position: relative;
			left: 1px;
		}
		div.mb-siwc-popup div.mb-siwc-popup-inner h2{
			font-size: 16px;
		}
		.mabel-siwc-img-wrapper{
			&:before{
				display: none;
			}
		}
	}
	.caption{
		a{
			color: black;
		}
		strong{
			font-family: 'HelveticaNeueLTStd-Bd', Helvetica, Arial, sans-serif;
		}
	}
	.image-slider{
		opacity: 0;
		margin-bottom: 40px;
			&.hide-mobile{
			display: none!important;
			@include respond($tablet-portrait) {
				display: block!important;
			}
		}
		&.hide-desktop{
			
			@include respond($tablet-portrait) {
				display: none!important;
			}
		}
		@include respond-min($tablet-portrait)
		{
			height: 75vh;
		}
		max-height: 900px;
		max-width: 100%;
		.slick-list,.slick-track{
			height: 100%;
		}
		.slick-track{
			img{
				@include respond-min($tablet-portrait)
				{
					padding: 0 10px 0 0;
				}
			}
		}
		.image-slider-caption{
			position: relative;
			opacity: 0;
			@include transition((opacity .3s ease-in-out));
			p{			
				max-width: 50%;
				margin: 10px 0 0 10px; 
				line-height: 1.5em;
				font-size: 12px;
			}
		}
	}
	.content-row{
		
		&:first-child{
			padding-top: 0;
		}
		.inner-container{
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 20px;
		}
		.campaign-video{
			padding-bottom: 2em;				
		}
		.campaign-text{
			text-align: center;
			padding: 2em 1em;
			&.black-background{
				background: black;
				color: $ivory;
			}
			h2{
				font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 26px;
				letter-spacing: .02em;
			}
			h4{
				font-size: 13px;
				text-transform: none;
				font-family: 'HelveticaNeueLTStd-Bd', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
				letter-spacing: .03em;
			}
			.cta-button{
				margin-top: 30px;

			}
			.rich-text,p{

			}
		}
		
		.single-image{
			position: relative;
			overflow: hidden;
			.parallax-wrapper{
				position: relative;
				overflow: hidden;
				padding-top: 0;
				height: 600px;
				@include respond-max($tablet-portrait)
				{
					height: 400px;
				}
			}
			&.full-width{
				img{
					width: 100%;
					max-width: none;
				}
			}

			.caption{
				display: block;
				text-align: right;
				padding-right: 20px;
				padding-top: 5px;

			}
			.text-content{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $ivory;
				text-align: center;
			}
			.supertitle{
				display: block;
				font-size: 16px;
				font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				text-transform: uppercase;
				letter-spacing: .3em;
				margin-bottom: .5em;
			}
			.title{
				display: inline-block;
				font-size: 30px;
				font-family: 'Baskerville';
				letter-spacing: .1em;
			}
			.subtitle{
				display: inline-block;				
			}
			p{
				&:before{
					content: '';
					width: 100px;
					display: block;
					margin: 0 auto;
					border-top: 1px solid $ivory;
					padding-bottom: 2em;
				}
				margin-top: 2em;
				font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 16px;
				letter-spacing: .3em;
			}

		}

		.two-images{
			
			@include respond-min($tablet-portrait)
			{
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				flex-wrap: no-wrap;
			}
			.half-image{
				margin-top: 2em;
				@include respond-min($tablet-portrait)
				{
					margin-top: 0;
					padding-top: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-basis: 49%;
				}
					text-align: right;
				h2{
					font-size: 16px;
					@include respond-min($tablet-portrait)
					{
						font-size: 22px;
					}
				}
				h4{
					font-size: 13px;
					text-transform: none;
					font-family: 'HelveticaNeueLTStd-Bd', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
					margin-bottom: 2em;
					letter-spacing: .03em;
				}
				h2,h4{
					text-align: center;
				}
				.caption{
					
				}
			}
		}
		&.image_text_layout{
			padding-top: 0;
			&:nth-child(odd){
				.image-text{
					flex-direction: row-reverse;
				}
			}
		}
		.image-text{
			
			@include respond-min($tablet-portrait)
			{
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				flex-wrap: no-wrap;
			}
			.half-image{
				@include respond-min($tablet-portrait)
				{
					padding-top: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-basis: 50%;
				}
					.image-content, img{
						width: 100%;
					}
					text-align: right;
				h2{
					font-size: 16px;
					@include respond-min($tablet-portrait)
					{
						font-size: 22px;
					}
				}
				h4{
					font-size: 13px;
					text-transform: none;
					font-family: 'HelveticaNeueLTStd-Bd', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
					margin-bottom: 2em;
					letter-spacing: .03em;
				}
				h2,h4{
					text-align: center;
				}
				.caption{
					
				}
			}
			.half-text{
				background: #1e1a17;
				text-align: center;
				p{
					text-align: center;
					color: $ivory;
					font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					font-size: 14px;
					line-height: 20px;
					letter-spacing: .1em;
				}
				@include respond-min($tablet-portrait)
				{
					padding-top: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-basis: 50%;
				}
				.text-content{
					padding: 2em;
				}

			}
		}
	}
// Isotope Images
	.iso-images{
		margin: 30px 15px 0;
		
		&.hidden{
			visibility: hidden;
			opacity: 0;
		}
		.iso-image,.iso-image-sizer{
			width: 50%;
			padding: 5px;
			position: relative;
			@include respond($tablet-portrait)
			{
				width: 50%;	
			}
			@include respond($tablet-landscape)
			{
				width: 25%;
			}
			.iso-caption{
				right: 5px;
				bottom: 5px;
				top: 5px;
				left: 5px;
				position: absolute;
				background: rgba(0, 0, 0, 0.6);
				color: $ivory;
				opacity: 0;
				@include transition((opacity .3s ease-in-out));
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 2;
				text-align: center;
				padding: 10px;
				}
			&:hover{
				.iso-caption{
					opacity: 1;
				}
			}
			&.two-up{
				width: 100%;
				@include respond(1200)
				{
					width: 50%;
				}
			}
			img{
				max-width: none;
				width: 100%;
			}
			&:hover{
				cursor: default;
			}
		}
	}

// Centered Slideshow
	.centered-slideshow{
		position: relative;
		.overlay-svg{
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			padding: 2em;
			display: flex;
			&.down-prompt{
				padding-bottom: 100px;
			}
			&.top_left{
				align-items: flex-start;
				justify-content: flex-start;
			}
			&.top_center{
				align-items: flex-start;
				justify-content: center;
			}
			&.top_right{
				align-items: flex-start;
				justify-content: flex-end;
			}

			&.middle_left{
				align-items: center;
				justify-content: flex-start;
			}
			&.centered{
				align-items: center;	
				justify-content: center;
			}
			&.middle_right{
				align-items: center;
				justify-content: flex-end;
			}

			&.bottom_left{
				align-items: flex-end;
				justify-content: flex-start;
			}
			&.bottom_center{
				align-items: flex-end;	
				justify-content: center;
			}
			&.bottom_right{
				align-items: flex-end;
				justify-content: flex-end;
			}

			img{
				
			}

		}
		.slideshow-title{
			position: absolute;
			top: 50%;
			width: 100%;
			text-align: center;
			z-index: 96;
			color: $ivory;
			font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		  line-height: 1em;
		  letter-spacing: 0.04em;
		  text-transform: uppercase;
		   font-size: 20px;
		  @include respond($tablet-portrait)
		  {
	 			font-size: 26px;
		  }
		 
		}
		.slides{
			&.full-height{			
				height: auto;
				@include respond($tablet-portrait)
		  	{
		  		height: 100vh;
		  	}
			}
			.slick-list,.slick-track{
				height: 100%;

			}
			.slide{


				height: 80vh;
				background-position: center;
				background-size: cover;
				@include respond-max($tablet-portrait)
				{
					height: auto;
					background-image: none;
				}
				

				img{
				
					&.hide-mobile{
						@include respond-max($tablet-portrait)
						{
							display: none;
						}
					}
				}
			}
		}
		figure{
			overflow: hidden;
			width: 100%;
			position: relative;
			video,picture{
				width: 100%;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
			figcaption{
				position: absolute;
				bottom: 0;
			}
		}
	}

	// Image Text block
	.image-text-block{
		@include respond($tablet-portrait) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row-reverse;
		}
		
		&:nth-child(even){
			flex-direction: row;
		}
		h2{
			font-size: 20px;
			margin-bottom: 1em;
		}
		.image-text-image{				
			padding-bottom: 3.5em;
			@include respond($tablet-portrait) {
				flex-basis: 48%;
				padding-bottom: 0;
			}
		}
		.image-text-text{
			padding: 0 20px;
			text-align: center;
			color: $gold;
			@include respond($tablet-portrait) {
				flex-basis: 48%;
				padding: 0;
			}	
			.text-content p{
				font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 15px;
				line-height: 22px;
				letter-spacing: .03em;
				margin-bottom: 1em;
				&:last-child{
					margin-bottom: 0;
				}
				strong{
					font-family: 'HelveticaNeueLTStd-Md', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				}
			}
			h6{
					font-size: 15px;
					text-transform: none;
					margin-bottom: 1rem;
				}
			a{
				color: $gold;
			}
		}
	}
}