.content-rows{
	.image-slider{
			&.hide-mobile{
			display: none!important;
			@include respond($tablet-portrait) {
				display: block!important;
			}
		}
		&.hide-desktop{
			
			@include respond($tablet-portrait) {
				display: none!important;
			}
		}
		@include respond-min($tablet-portrait)
		{
			height: 75vh;
		}
		max-height: 900px;
		max-width: 100%;
		.slick-list,.slick-track{
			height: 100%;
		}
		.slick-track{
			img{
				@include respond-min($tablet-portrait)
				{
					padding: 0 10px 0 0;
				}
			}
		}
	}
	.content-row{
		.inner-container{
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 20px;
		}
		.campaign-video{
			padding-bottom: 2em;				
		}
		.campaign-text{
			text-align: center;
			padding: 2em 1em;
			&.black-background{
				background: black;
				color: $ivory;
			}
			h2{
				font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 26px;
				letter-spacing: .02em;
			}
			h4{
				font-size: 13px;
				text-transform: none;
				font-family: 'HelveticaNeueLTStd-Bd', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
				letter-spacing: .03em;
			}
		}

		.single-image{
			overflow: hidden;
			padding-top: 20px;
			&.parallax{
				padding-top: 0;
				@include respond-max($tablet-portrait)
				{
					height: 400px;
				}
			}
		}

		.two-images{
			
			@include respond-min($tablet-portrait)
			{
				padding-top: 20px;
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				flex-wrap: no-wrap;
			}
			.half-image{
				padding-top: 20px;
				@include respond-min($tablet-portrait)
				{
					padding-top: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-basis: 49%;
				}
					text-align: right;
				h2{
					font-size: 16px;
					@include respond-min($tablet-portrait)
					{
						font-size: 22px;
					}
				}
				h4{
					font-size: 13px;
					text-transform: none;
					font-family: 'HelveticaNeueLTStd-Bd', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
					margin-bottom: 2em;
					letter-spacing: .03em;
				}
				h2,h4{
					text-align: center;
				}
				.caption{
					
				}
			}
		}
	}
// Isotope Images
.iso-images{
	.iso-image{
		max-width: 33%;
		padding: 5px;
	}
}

// Centered Slideshow
.centered-slideshow{
	position: relative;
	.slideshow-title{
		position: absolute;
		top: 50%;
		width: 100%;
		text-align: center;
		z-index: 96;
		color: white;
		font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  line-height: 1em;
	  letter-spacing: 0.04em;
	  text-transform: uppercase;
	   font-size: 20px;
	  @include respond($tablet-portrait)
	  {
 			font-size: 26px;
	  }
	 
	}
	.slides{
		.slide{
			height: 80vh;
			background-position: center;
			background-size: cover;
			@include respond-max($tablet-portrait)
			{
				height: auto;
				background-image: none;
			}
			img{
			
				&.hide-mobile{
					@include respond-max($tablet-portrait)
					{
						display: none;
					}
				}
			}
		}
	}
}

}