footer{
	@include respond-min($tablet-portrait)
	{
		margin-left: 200px;
		height: 85px;
	}
	position: relative;
	padding: 30px 20px;
	background: black;
	@include respond-max($tablet-portrait)
	{
		border-top: 1px solid white;
	}
	.footer-menu{
		text-align: right;
		@include respond-max($tablet-portrait)
		{
			text-align: center;
		}
		li{
			display: inline-block;
			line-height: 30px;
			@include respond-max($tablet-portrait)
			{
				display: block;
				width: 100%;
			}
			a{
				font-family: 'HelveticaNeueLTStd-Lt', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
				color: #f5f1e1;
				font-size: 13px;
				letter-spacing: .1em;
				padding: 0 20px;

				&:last-child{
					padding-right: 0;
				}
			}
		}
	}
	.newsletter-callout{
		cursor: pointer;
		text-align: center;
		line-height: 30px;
		@include respond-min($tablet-landscape)
		{
			text-align: right;
			position: absolute;
			left: 20px;
			top: 30px;
		}
		font-family: 'HelveticaNeueLTStd-Lt', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
		color: #f5f1e1;
		font-size: 13px;
		letter-spacing: .1em;
		span{
			line-height: 19px;
			margin-right: 5px;
		}
	}
}
.footer-push{
	@include respond-min($tablet-portrait) {
		height: 85px;
	}	
}