{% extends "base.twig" %}
{% set body_class = 'our-story black-bg' %}

{% block content %}

	<div class="our-story">
		<section class="full-slideshow">
			<div class="slides">
				{% for slide in post.slides %}
					<div class="slide">
						<div class="slide-cover">
							<div class="slide-info">
								<H3>{{ slide.subtitle }}</H3>
								<H2>{{ slide.title }}</H2>								
							</div>
						</div>
						<img class="mobile_hidden" src="{{ slide.image}}">
						<img class="desktop_hidden" src="{{ slide.mobile_image }}"/>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}{# end content #}