<!DOCTYPE html>
<html>
  {% include 'partials/head.twig' %}
  <body class="{{ body_class }}">
    <div class="animsition">
      {# {% include 'partials/header.twig'%} #}
      {% include 'partials/menu.twig' %}
      
      <div id="page" class="{{ page_class }}">
        {% block page %}
          <div id="content" >
            {% block content %}
              
            {% endblock %}{# end content #}
          </div>
        {% endblock %}{# end page #}
      </div><!-- #page -->

      {% if footer != 'false' %}
        {% include 'partials/footer.twig' %}
      {% endif %}
    </div>
    {% include 'partials/foot.twig' %}
  </body>
</html>