{% extends "base.twig" %}
{% set body_class = 'page-home-fall-2018 black-bg' %}
{% set menu_class = 'transparent-bg' %}
{% set page_class = 'full-width-page' %}

{% block content %}
<div class="top-slider">
	
	<figure>
		<picture>
		  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/13212743/HP_Slider_Main_01_M_828x1472.jpg">
		</picture>
		<figcaption>
			<span>Fall 18</span>
			<a class="cta-button ivory" href="">collection</a>
		</figcaption>
	</figure>

	<figure>
		<picture>
		  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/13212744/HP_Slider_Main_02_M_828x1472.jpg">
		</picture>
		<figcaption>
			<span>Fall 18</span>
			<a class="cta-button ivory" href="">collection</a>
		</figcaption>
	</figure>

	<figure>
		<picture>
		  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/13212747/HP_Slider_Main_03_M_828x14721.jpg">
		</picture>
		<figcaption>
			<span>Fall 18</span>
			<a class="cta-button ivory" href="">collection</a>
		</figcaption>
	</figure>
	<div class="top-slider-nav slider-dots"></div>
</div>

<div class="category-slider">
		<figure>
			<a href="">
				<picture>
				  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/10194349/HP_Categories_Accessories_M_410x510.jpg">				       
				</picture>
				<figcaption>
					<span>Accessories</span>
				</figcaption>
			</a>
		</figure>
		<figure>
			<a href="">
				<picture>
				  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/10194350/HP_Categories_Home_Decor_M_410x510.jpg">				       
				</picture>
				<figcaption>
					<span>Home Decor</span>
				</figcaption>
			</a>
		</figure>
		<figure>
			<a href="">
				<picture>
				  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/10194351/HP_Category_Candles_M_410x510.jpg">				       
				</picture>
				<figcaption>
					<span>Candles</span>
				</figcaption>
			</a>
		</figure>
		<figure>
			<a href="">
				<picture>
				  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/10194352/HP_Category_Tabletop_M_410x510.jpg">				       
				</picture>
				<figcaption>
					<span>Tabletop</span>
				</figcaption>
			</a>
		</figure>
</div>
<div class="happenings">
	<h2>September Happenings</h2>
	<div class="happening-items">
		<figure>
			<picture>
			  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/10194353/HP_Events_Russell_M_410x410.jpg">
			</picture>
			<figcaption>
				<span> Exhibit by Russell James Fashion Week</span>
			</figcaption>
		</figure>
		<figure>
			<picture>
			  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/10194353/HP_Events_Meditation_M_410x410.jpg">
			</picture>
			<figcaption>
				<span>Unplug Meditation Fashion Week</span>
			</figcaption>
		</figure>
		<figure>
			<picture>
			  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/10194354/HP_Events_Table_M_410x410.jpg">
			</picture>
			<figcaption>
				<span>Sustainable Dinner 9.25.18</span>
			</figcaption>
		</figure>
		<figure>
			<picture>
			  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/10194355/HP_Events_Yoga_M_410x410.jpg">
			</picture>
			<figcaption>
				<span>Class by Taryn Toomey 9.22.18</span>
			</figcaption>
		</figure>
	</div>
	<a href="#" class="cta-button ivory">Join Us</a>
</div>

<div class="page-callouts">
	<h2>Urban Zen Foundation</h2>
	<p> UZF creates, connects, collaborates.<br>
			Raising awareness and inspiring change, wellbeing and education.
	</p>
	<figure>
		<a href="">
			<picture>
			  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/11144400/HP_UZF_Culture_m_828x1000.jpg">
			</picture>
			<figcaption>
				<span>We are philanthropy + commerce</span>
				<a class="cta-button ivory" href="">Preserving Cultures</a>
			</figcaption>
		</a>
	</figure>
		<figure>
		<a href="">
			<picture>
			  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/11144402/HP_UZF_Healthcare_m_828x1000.jpg">
			</picture>
			<figcaption>
				<span>We are philanthropy + commerce</span>
				<a class="cta-button ivory" href="">Healthcare</a>
			</figcaption>
		</a>
	</figure>
		<figure>
		<a href="">
			<picture>
			  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/11144401/HP_UZF_Education_M828x1000.jpg">
			</picture>
			<figcaption>
				<span>We are philanthropy + commerce</span>
				<a class="cta-button ivory" href="">Education</a>
			</figcaption>
		</a>
	</figure>
		<figure>
		<a href="">
			<picture>
			  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/11144401/HP_UZF_DK_m_828x1000.jpg">
			</picture>
			<figcaption>
				<span>We are philanthropy + commerce</span>
				<a class="cta-button ivory" href="">Our Founder</a>
			</figcaption>
		</a>
	</figure>
	<div class="pages-slider-nav slider-dots"></div>
</div>
<div class="insta-block">
	<h2>Follow Us</h2>
	<p>
		<a href="">@urbanzen</a>
		<a href="">@donnakaranthewoman</a>
	</p>
	<div class="insta-images">
		<figure>
			<a href="">
				<picture>
				  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/11144358/HP_Social_01_Replacement_M_410x410.jpg">
				</picture>
			</a>
		</figure>
		<figure>
			<a href="">
				<picture>
				  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/11144359/HP_Social_02_Replacement_M_410x410.jpg">
				</picture>
			</a>
		</figure>
		<figure>
			<a href="">
				<picture>
				  <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/08/11144359/HP_Social_03_Replacement_M_410x410.jpg">
				</picture>
			</a>
		</figure>
	</div>
</div>

{% endblock %}