{% extends "base.twig" %}
{% set body_class = 'page-text' %}

{% block content %}
	<div class="text-page">
		{% for block in post.blocks %}
			{% if block.acf_fc_layout == 'text' %}
				<div class="block-text">
					{{ block.text }}
				</div>
			{% elseif block.acf_fc_layout == 'heading' %}
				<div class="block-heading">
					<h2>{{ block.text }}</h2>
				</div>
			{% elseif block.acf_fc_layout == 'accordian' %}
				<div class="block-accordian">
					<div class="accordian-title">{{ block.title }}</div>
					<div class="accordian-text">{{ block.text }}</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}{# end content #}