footer {
	padding: $mobile-margin 0 $wide-gutter;
	@include font-smooth();
	text-align: center;
	@include respond($lg) {
		text-align: left;
		padding: $mobile-margin 0;
	}
	@include respond($xlg) {
		padding: $wide-gutter * 2 0;
	}
	.button {
		// &:not(.disabled):not(.loading):hover {
		// 	border-color: $white;
		// 	color: $white;
		// }
	}
	svg {
		display: inline-block;
		vertical-align: top;
	}
	.footer-info {
		p,.address span {
			text-transform: uppercase;
			letter-spacing: $tracked-out;
			font-size: .875rem;
			font-family: $main-font;
		}
		.address{
			div[itemscope]{
				display: inline;
			}
			margin-top: $gutter;
		}
		a {
			color: inherit;
			&:hover {
				color: $white;
			}
		}
	}
	.ttr-logo {
    opacity: .5;
    display: inline-block;
    vertical-align: top;
	}
	.social-bubbles {
		a,
		a:hover {
			color: $text-color;
		}
	}
}