section.top-area {
	position: relative;
	margin: 0;
	min-height: 75vh;
	overflow: hidden;
	color: $true-white;
	text-shadow: 0 .25rem 2rem rgba($text-color, .3);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	@include respond($md) {
		// min-height: 600px;
	}
	&.full-height {
		min-height: 100vh;
		.container {
			&.flex-center {
				min-height: 100vh;
			}
		}
	}
	.h1 {
		margin-bottom: -.25em;
		+ .h4 {
			margin-top: 1rem;
		}
	}
	.h4 {
		+ .h1 {
			margin-top: .85rem;
		}
	}
	hr {
		border-top: 2px solid rgba(255, 255, 255, .75);
		max-width: 8rem;
		margin: 1.75rem auto;
	}
	.text {
		p {
			margin-left: auto;
			margin-right: auto;
			max-width: 52em;
		}
	}
	.down-arrow {
		position: absolute;
		bottom: $gutter * 1.5;
		left: 50%;
		width: 28px;
		height: 28px;
		margin-left: -14px;
		border-bottom: 2px solid $true-white;
		border-right: 2px solid $true-white;
		z-index: 3;
		transform: rotate(45deg);
	}
	.container {
		position: relative;
		z-index: 3;
		&.flex-center {
		    min-height: 75vh;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    padding: 9.25rem 0 7.75rem;
		}
	}
	.cover-area {
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			min-height: 250px;
			height: 30%;
			background: transparent;
			background: linear-gradient(to bottom, rgba($text-color, .3) 0%,rgba($text-color ,0) 100%);
			z-index: 2;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba($text-color, .1);
			z-index: 2;
		}
		img,
		video {
			z-index: 1;
		}
	}
}

.top-slideshow {
	.container {
		position: relative;
		z-index: 3;
		transition: opacity 1s .5s $ease;
	}
	.slick-slide {
		&:not(.slick-current) {
			.container {
				// opacity: 0;
				// display: none;
			}
		}
	}
}

.top-slideshow-nav {
	background: $white;
	padding: 0 3rem;
	position: relative;
	@include respond($lg) {
		padding: 0 6rem;
	}
	.slick-slide {
		padding: $gutter/2 $gutter/4;
		@include respond($lg) {
			padding: $gutter $gutter/2;
		}
		img {
			transition: opacity $slow-speed $ease;
			border-radius: $base-border-radius;
		}
		&:hover {
			img {
				opacity: .7;
			}
		}
		&.slick-current {
			img {
				opacity: .25;
			}
		}
	}
	.slick-arrow {
		width: 3rem;
		height: 3rem;
		background: transparent;
		border: none;
		border-radius: 50%;
		padding: 0;
		text-indent: -9999px;
		min-width: 0;
		overflow: hidden;
		position: absolute;
		top: 50%;
		margin-top: -1.5rem;
		z-index: 3;
		&:not(.disabled):not(.loading):hover {
			border: none;
			background: transparent;
			@include respond($lg) {
				border: none;
				background: darken($bg-color, 5%);
			}
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-30%, -50%) rotate(45deg);
			width: 1rem;
			height: 1rem;
			border-bottom: 1px solid $main-color;
			border-left: 1px solid $main-color;
		}
		&.slick-prev {
			left: .25rem;
			@include respond($lg) {
				left: 2rem;
			}
		}
		&.slick-next {
			right: .25rem;
			@include respond($lg) {
				right: 2rem;
			}
			&:before {
				transform: translate(-70%, -50%) rotate(-135deg);
			}
		}
	}
}