<div class="event-mailchimp-form">

    <form action="https://urbanzen.us2.list-manage.com/subscribe/post" target="_blank" method="post">
        <i class="material-icons">close</i>
        <h2>Urban Zen Events</h2> 
        <p>
            We partner with like-minded organizations and individuals to raise awareness and inspire change in the areas of Health and well-being, education and preservation of culture.

            For more information on our events please fill out the form below and our team will get back to you.
        </p>
        <input type="hidden" name="u" value="fc498178459519fae5d27a86e">
        <input type="hidden" name="id" value="a31c48a468">        

        <fieldset class="names">
            {# <label>First Name</label>  #}           
            <input type="text" name="MERGE1" id="MERGE1" size="25" value="" placeholder="First Name">
        </fieldset>

        <fieldset class="names">
            {# <label>Last Name</label>             #}
            <input type="text" name="MERGE2" id="MERGE2" size="25" value="" placeholder="Last Name">
        </fieldset>

        <fieldset>
        {# <label>Email Address</label> #}
            <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Email Address">
        </fieldset>

        <h2>I am interested in:</h2>
        <div class="radio-inputs">
            <fieldset>
                <input type="radio" id="group_1" name="group[4185]" value="1"  class="av-radio">
                <label for="group_1" class="radio !margin--lv0">Angels by Russell James Exhibition</label>
            </fieldset>
            <fieldset> 
                <input type="radio" id="group_2" name="group[4185]" value="2"  class="av-radio">
                <label for="group_2" class="radio !margin--lv0">Dinner Honoring Carmen Busquet</label>
            </fieldset>
            <fieldset>         
                <input type="radio" id="group_4" name="group[4185]" value="4"  class="av-radio"> 
                <label for="group_4" class="radio !margin--lv0">Jimmy Nelson Homage to Humanity Exhibit</label>
            </fieldset>
            <fieldset> 
                <input type="radio" id="group_8" name="group[4185]" value="8"  class="av-radio">
                <label for="group_8" class="radio !margin--lv0">Stephan Weiss Apple Awards</label>
            </fieldset>
            <fieldset>         
                <input type="radio" id="group_16" name="group[4185]" value="16"  class="av-radio">
                <label for="group_16" class="radio !margin--lv0">Unplug Meditation X Urban Zen</label>
            </fieldset>
        </div>
        <input type="hidden" name="b_fc498178459519fae5d27a86e_a31c48a468" tabindex="-1" value="">
        <button class="cta-button dark" type="submit" name="submit">Subscribe to list</button> </form>
</div>