{# {{ function('wp_footer') }} #}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "",
    "addressLocality": "",
    "addressRegion": "",
    "postalCode": ""
  },
  "name": "",
  "contactPoint" : [
	  {
	    "contactType" : "",
	    "telephone": ""
	  },
	  {
	    "contactType" : "",
	    "telephone" : ""
	  }
	]
}
</script>
{{ function('wp_footer') }} 
{# <div class="page-loader"><img src="/assets/images/logo-mark.svg" /></div> #}
<div class="quick-overlay" data-quick-overlay=""></div>
<div class="video-overlay">
  <i class="close material-icons">close</i>
  <div class="video-holder">
    <div class="video-responsive">
      <div id="video"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ td }}/assets/js/main.js?v=1"></script>