<figure class="{{ event_class }}">
	<div class="image-area">
		<picture>
		  <img src="{{ event.image }}">
		</picture>
		<figcaption>
			<p>{{function('nl2br', event.text) }}</p>
		</figcaption>	
	</div>
	<span>{{ event.title }}</span>	
</figure>