<nav class="top-menu{{ " " ~ menu_class }}">
	<div class="nav-bar">
		<div class="menu-link">
			<div class="menu-icon">
				<div class="center"></div>
			</div>
		</div>
		<div class="menu-logo">
			<a href="/">{% include 'partials/uz-logo.svg' %}</a>
		</div>
		<div class="tagline">A philosophy of living by Donna Karan</div>
		<div class="cart-search">
			<form class="search" action="https://www.urbanzen.com/search">
				<input type="text" name="q">
				<button type="submit"><div class="material-icons">search</div></button>			
			</form>
			<div class="cart-info">
				<div class="cart-icon"></div>
				<div class="cart-num">(<span class="cart-count">0</span>)</div>
				<div class="material-icons cart-close">close</div>
			</div>
		</div>
	</div>
	<div class="cart">
		<div class="cart-sidebar">
			<div class="material-icons close">close</div>
			<h2>MY BAG</h2>
			<div class="no-items">Your Bag is empty</div>
			<ul class="cart-items">
				
			</ul>
			<div class="cart-total">
				Subtotal
				<span class="cart-subtotal"></span>
			</div>
			<a class="checkout-button">checkout</a>	
		</div>
	</div>
	<ul class="main-menu">
		{% for item in main_menu.items %}
			{{ markup_menu_item(item) }}
		{% endfor %}
		<div class="social">
		{% for social in options.social_media %}
			<a href="{{ social.link }}" class="icomoon-{{ social.platform }}"></a>
		{% endfor %}
	</div>
	</ul>
</nav>

</div>

<script id="CartItemTemplate" type="text/x-jsrender">
	<div class="cart-item" data-line-item-id="<%:lineItemId%>">
		<div class="cart-item-content">
			<div class="cart-item-image"><img src="<%:image%>" alt="<%:title%>"></div>
			<div class="cart-item-details">
				<div class="cart-item-title"><%:title%></div>
				<div class="cart-item-color"><label>Color</label><%:color%></div>
				<div class="cart-item-size"><label>Size</label><%:size%></div>
				
				<div class="cart-item-qty">
					<label class="qty-label" for ="itemQty">Qty</label>
					<input type="text" name="qty" value="<%:qty%>" id="itemQty">					
				</div>
				<div class="cart-item-price"><%:price%></div>
				<div class="cart-item-remove material-icons" data-line-item-id="<%:lineItemId%>">close</div>
			</div>
		</div>
	</div>
</script>