
<nav class="main-menu{{ " " ~ menu_class }}">
	<a href="/" class="menu-logo">{% include 'partials/uz-logo.svg' %}</a>
	<ul>
		{% for item in main_menu.items %}
			{{ markup_menu_item(item) }}
		{% endfor %}
	</ul>
</nav>
