.about{
	.cover-area{
		@include respond-min($tablet-portrait) {
			min-height: 60vh;
			max-height: 60vh;	
			background-attachment: fixed;
			background-position: top center;
			background-repeat: no-repeat;
		}
		@include respond-max($tablet-portrait) {
			background-image: none!important;
					height: auto;
		min-height: 0;
		max-height: 0;
		background: black;
		}
		
	}
}