.page-campaign{
	.drawer-nav{
		background: transparent;
	}
	.drawer-contents{
		margin-left: 0!important;
	}
	.cover-area{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 20px;
		text-align: center;
		h1,p{
			z-index: 2;	
		}
		h1{
			text-transform: uppercase;
			margin: 20px 20px 0;
			opacity: 0;
			color: white;
			@include animation('fadeIn 0s linear 0s forwards');
			@include respond-min($tablet-portrait)
			{
				font-size: 35px;
				margin-top: 0;
				@include animation('fadeInOut 3s linear 1s forwards');
			}
		}
		p{
			text-align: center;
			max-width: 400px;
			padding: 20px;
			opacity: 0;
			@include animation('fadeIn 0s linear 0s forwards');
			@include respond-min($tablet-portrait)
			{
				@include animation('fadeIn 3s linear 1s forwards');
				position: absolute;
				bottom: 10%;
			}
		}
		.down-arrow{
			@include respond-max($tablet-portrait)
			{
				display: none;
			}
		}
	}
	.campaign-text{
		font-size: 16px;
		line-height: 22px;
	}

	.behind-the-scenes{
		background: none;
		p{
			display: block;
			margin: 0 auto;
			text-align: center;
			line-height: 22px;
		}
	}
	.explore-the-collection{
		h2{
			margin-top: 0;
		}
	}
}
