.collection{
	.collection-slideshow{
		position: relative;
		.collection-title{
			position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				color: white;
				z-index: 99;
				display: flex;
	    	align-items: center;
	    	justify-content: center;
		}
		h1{
			color: white;
			font-size: 30px;
			font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			letter-spacing: 1;
		}
		.collection-slide{
			position: relative;
			.slide-overlay{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				color: white;
				z-index: 99;
				display: flex;
	    	align-items: center;
	    	justify-content: center;
	    	padding: 20px;
	    	&.left{
	    		justify-content:flex-start;
	    	}
	    	&.right{
	    		justify-content:flex-end;
	    	}
				.slide-text{

					h4{
						
					}
					p{

					}
				}
			}
		}
	}
	.collection-grid{
		max-width: 1400px;
		margin: 40px auto 0;
		padding: 0 4%;
		display: flex;
	  align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		@include respond($tablet-portrait) {
			padding: 0 20px;
		}
		&:after {
    	content: "";
    	flex-basis: calc(33% - 10px);
  	}
		.grid-product{
			flex-basis: calc(50% - 2%);
			text-align: center;
			margin-bottom: 25px;
			@include respond($tablet-portrait) {
				flex-basis: calc(33% - 10px);	
			}
			a{
				color: black;

			}
			h3{
				margin-top: 5px;
				font-size: 12px;
				font-weight: normal;
    		line-height: 18px;
			}
			.grid-product-price{
				display: block;
				font-size: 12px;
				line-height: 18px;
				letter-spacing: .1em;
				span{
					color: #666;
				}
			}
		}
	}
}