.page-furniture{
	h1{
		text-align: center;
		padding-top: 2em;
		padding-bottom: 1em;
	}
	.content-rows{
		padding: 0 20px;
		.img-wrap{
			background: transparent;
		}
		.quarter{

			@include respond-max($tablet-portrait) {
				width: 100%;
			}
		}
		.text-block{
			
			color: white;
			
			display: flex;
			align-items: center;
			justify-content: center;
			background: black;
			@include respond-max($tablet-portrait) {
				margin-bottom: 20px;
			}
			.text-content{
				padding: 40px;
				
				p{
					font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					font-size: 16px;
					color: white;
					font-size: 24px;
					line-height: 30px;
				}
			}
			.text-author{
				padding-top: 25px;
				text-transform: uppercase;
			}
		}
	}
	.inquiry-text{
		text-align: center;
	}
}