.page-furniture{
	h1{
		text-align: center;
		padding-top: 2em;
		padding-bottom: .5em;
	}
	.page-description{
		text-align: center;
		margin-bottom: 2em;

	}
	.content-rows{
		padding: 0 20px;
			@include respond-max(1400) {
				.half{
					width: 100%;
					&:first-child{
						margin-bottom: 20px;
					}
				}
				.quarter{
					width: calc(50% - 10px);
					margin-bottom: 20px;
					
				}
				.img-wrap{
					margin-bottom: 0;	
					}
					.flex-row{
						margin-bottom: 20px;
					}
			}
			@include respond-max($tablet-portrait) {
			.img-wrap,.half,.quarter,img{
				width: 100%;
				background: transparent;
			}
		}
		.img-wrap{
			position: relative;
			overflow: hidden;
			&:hover{
				.caption{
					@include transform(translateY(0));
				}		
			}
			.caption{
				background: black;
				width: 100%;
				display: block;
				@include transition((transform .3s ease-in-out, -webkit-transform .3s ease-in-out));
				padding: 20px;
				font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 16px;
				color: white;
				line-height: 30px;
				@include respond($tablet-portrait) {
					background: rgba(0,0,0,.7);
					@include transform(translateY(100%));
					position: absolute;
					bottom: 0;
					padding: 40px 20px;
				}

			}
		}
		.text-block{
			
			color: white;
			
			display: flex;
			align-items: center;
			justify-content: center;
			background: black;

			.text-content{
				padding: 40px;
				
				p{
					font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					font-size: 16px;
					color: white;
					font-size: 24px;
					line-height: 30px;
				}
			}
			.text-author{
				padding-top: 25px;
				text-transform: uppercase;
			}
		}
	}
	.inquiry-text{
		padding: 0 20px;
		text-align: center;
	}
}