.page-furniture{
	h1{
		text-align: center;
		padding-top: 2em;
		padding-bottom: 1em;
	}
	.content-rows{
		padding: 0 20px;
		.text-block{
			background: black;
			color: white;
			padding: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			.text-content{
				p{
					font-size: 16px;
				}
			}
			.text-author{
				padding-top: 25px;
				text-transform: uppercase;
			}
		}
	}
	.inquiry-text{
		text-align: center;
	}
}