.page-holiday-gift-guide{
	.header-subtitle{
		font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 15px;
		letter-spacing: .15em;
		@include respond($tablet-portrait)
		{
			font-size: 28px;
		}
	}
	h1{
		font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 20px;
		letter-spacing: .20em;
		text-transform: uppercase;
		@include respond($tablet-portrait)
		{
			font-size: 45px;
		}
	}	
	h2{
		font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 20px;
		letter-spacing: .15em;
		@include respond($tablet-portrait)
		{
			font-size: 25px;
		}
	}
	.gift-section-header-text p{
		font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 14px;
		padding-top: 1em;
		letter-spacing: .15em;
		@include respond($tablet-portrait)
		{
			font-size: 14px;
		}
	}
	.header-area{
		max-height: 400px;
		background-position: center;
		background-size: cover;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		height: 30vh;
		text-align: center;
	}
	.gift-section-header{
		padding: 60px 0px 0;
		@include respond($tablet-portrait)
		{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 60px 20px 0;
		}
		
		.gift-section-header-image,.gift-section-header-text{
			width: 100%;
			@include respond($tablet-portrait)
			{
				flex-basis: 49.5%;
				text-align: center;
			}
		}
		.gift-section-header-text{
			color: $gold;
			text-align: center;
			padding: 0 20px 25px;
			@include respond($tablet-portrait)
			{
				padding: 0 30px;
			}
		}
		.gift-section-header-image{
			display: none;
			@include respond($tablet-portrait)
			{
				display: block;
			}
			img{
				object-fit:cover;
				height: 100%;
				width: 100%;
			}
		}

	}
	.gift-section-products{
		padding: 20px 20px;
		.gift-section-row{
			@include respond-min(640)
			{
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				flex-wrap: nowrap;
				margin-bottom: 1%;
			}
			.gift{
				display: block;

				position: relative;
				overflow: hidden;
				vertical-align: bottom;

				margin-bottom: 15px;
				@include respond-min(640)
				{
					-webkit-perspective: 1300px;
					perspective: 1300px;
					-webkit-transform-style: preserve-3d;
					transform-style: preserve-3d;
					-webkit-transform: rotateY(-180deg);
					transform: rotateY(-180deg);
				}
				@include respond-max(640)
				{
					width: 100%;
				}
				@include respond-min(640)
				{
					margin-bottom: 0;
					// width: calc(25% - 11.25px);
					flex-basis: 24.25%;
				}
				/* Effect 7: helix (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
				&.visible {
					@include respond-min(640)
					{
						&:nth-child(1){
							-webkit-animation: helix .8s ease-in-out forwards;
							animation: helix .8s ease-in-out forwards;
						}			
						&:nth-child(2){
							-webkit-animation: helix .8s ease-in-out .2s forwards;
							animation: helix .8s ease-in-out .2s forwards;
						}			
						&:nth-child(3){
							-webkit-animation: helix .8s ease-in-out .4s forwards;
							animation: helix .8s ease-in-out .4s forwards;
						}			
						&:nth-child(4){
							-webkit-animation: helix .8s ease-in-out .6s forwards;
							animation: helix .8s ease-in-out .6sforwards;
						}			
					}
					
				}

				@-webkit-keyframes helix {
					0% { }
					100% { -webkit-transform: rotateY(0deg); opacity: 1; }
				}

				@keyframes helix {
					0% { }
					100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }
				}

				&.two_up{
					@include respond-max(640)
					{
						width: 100%;
					}
					@include respond-min(640)
					{
						margin-bottom: 0;
						// width: calc(50% - 7.5px);
						flex-basis: 49.5%;
					}
				}	
				img{
					object-fit:cover;
					height: 100%;
					width: 100%;
					@include respond-max(640)
					{
						display: none;
					}
					&.mobile-image{
						display: block;
						@include respond-min(640)
						{
							display: none;
							opacity: 0;
						}
					}
				}
				.gift-overlay{
					opacity: 0;
					visibility: hidden;
					position: absolute;
					text-align: center;
					left: 0;
					right:0;
					top:0;
					bottom:0;
					background: rgba(0,0,0,.8);
					color: white;
					display: flex;
					align-items: center;
					justify-content: center;
					@include transition((opacity .5s ease-in-out, visibility .5s ease-in-out));
					.gift-title{
						font-size: 20px;
						letter-spacing: .1em;
					}
					@include respond-max($tablet-portrait)
					{
						
						opacity: 1;
						background: none;
						visibility: visible;
						position: static;
						display: block;
						.gift-title{
							padding-top: 10px;
						font-size: 16px;
						line-height: 24px;	
						}
					}
				}
				&:hover{
					.gift-overlay{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}