.page-holiday-experience{
	.cover-area{
		.cover-text{
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			text-align: center;
		}
		background-size: cover;
		background-position: center center;
		@include respond-max($tablet-portrait) {
			display: block;
			background:black;
			background-image: none!important;
			background-position: -9999px -9999px;
		}
		h3{
			font-family: 'HelveticaNeueLTStd-BdEx', 'Helvetica Neue Bold Extended', Helvetica, Arial, sans-serif; 
			font-size: 15px; 
			text-transform: uppercase; 
			letter-spacing: .05em; 
			margin-bottom: 6px;
			color: $gold;
		}
		h1{
			color: $gold;
			font-size: 35px;
			line-height: 40px;
			letter-spacing: 0.07em;
			text-transform: uppercase;
		}
	}
	.full-callout{
		font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color: $gold;
		font-size: 18px;
		line-height: 22px;
		padding: 4.5em 0;
		text-align: center;
		letter-spacing: .02em;
		@include respond($tablet-portrait) {
			font-size: 20px;
			line-height: 26px;
		}
	}
	.content-blocks{
		@include respond($tablet-portrait) {
			padding: 0 20px;
		}
		.image-text-block{
			padding-bottom: 3.5em;
			@include respond($tablet-portrait) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: row-reverse;
				padding-bottom: 4.5em;
			}
			
			&:nth-child(even){
				flex-direction: row;
			}
			h2{
				font-size: 20px;
				margin-bottom: 1em;
			}
			.image-text-image{
				
				padding-bottom: 3.5em;
				@include respond($tablet-portrait) {
					flex-basis: 48%;
					padding-bottom: 0;
				}
			}
			.image-text-text{
				padding: 0 20px;
				text-align: center;
				color: $gold;
				@include respond($tablet-portrait) {
					flex-basis: 48%;
					padding: 0;
				}	
				.text-content p{
					font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					font-size: 15px;
					line-height: 22px;
					letter-spacing: .03em;
					margin-bottom: 1em;
					&:last-child{
						margin-bottom: 0;
					}
					strong{
						font-family: 'HelveticaNeueLTStd-Md', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					}
				}
				h6{
						font-size: 15px;
						text-transform: none;
						margin-bottom: 1rem;
					}
				a{
					color: $gold;
				}
			}
		}
	}
	.experience-uz{
		color: $gold;
		text-align: center;
		h2{
			font-size: 20px;
			margin-bottom: 1em;
		}
		p{
			font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 15px;
			line-height: 22px;
			letter-spacing: .03em;
			margin-bottom: 1em;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.experience-images{
			padding-top: 2em;
			@include respond($tablet-portrait) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			figure{
				padding-bottom: 20px;
				@include respond($tablet-portrait) {
					flex-basis: 24%;
					padding-bottom: 1%;
				}
				figcaption{
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					background: rgba(0,0,0,.7);
					opacity: 0;
					@include transition((opacity .5s ease-in-out, visibility .5s ease-in-out));
					display: flex;
					align-items: center;
					justify-content: center;
					color: white;
					cursor: pointer;
				}
				&:hover{
					figcaption{
						opacity: 1;
					}
				}
			}

		}
	}
}