$ivory : #e5ceb2;
.page-home-fall-2018{
	.event-mailchimp-form{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content:center;
		// opacity: 0;
		// visibility: hidden;
		form{
			padding: 40px 100px;
			background: $ivory;
			width: 100%;
			max-width: 685px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content:space-between;
			flex-direction: row;
			flex-wrap: wrap;
			color: black;
			h2{
				color: black;
				text-align: center;
				width: 100%;
				font-size: 18px;
				margin-bottom: 24px;
				padding-bottom: 0;
			}
			p{
				margin-bottom: 24px;
			}
			fieldset{
				text-align: left;
				width: 100%;
				margin-bottom: 24px;
				display: inline-block;
				
				input{
					width: 100%;
					line-height: 36px;
					text-indent: 10px;

				}
				&.names{
					width: calc(50% - 12px);
					display: inline-block;
					
				}	
			}
			.radio-inputs{
				text-align: left;
				fieldset{
					width: 48%;
					display: inline-block;
					vertical-align: top;
					margin-bottom: 6px;
					input{
						width: auto;
						display: inline-block;
						vertical-align: top;
					}
					label{
						display: inline-block;
						vertical-align: top;
						max-width: 85%;
					}
				}
			}
			input[type=radio]{
				-webkit-appearance:radio;
				appearance: radio;
			}
			button{
				margin: 0 auto;
			}
		}
	}
	h2{
		color: $ivory;
		font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 26px;
		letter-spacing: .1em;
		line-height: 28px;
		padding-bottom: 36px;
		@include respond-max($tablet-portrait)
		{
			font-size: 36px;
			letter-spacing: .1em;
			line-height: 36px;
		}
	}
	nav.top-menu{
		.menu-link .menu-icon:before, .menu-link .menu-icon:after, .menu-link .menu-icon .center, .menu-link .menu-icon .center:before{
			background: $ivory;
		}
		.nav-bar{
			.menu-logo{
				height: 30px;
				svg, svg *{
					fill: $ivory;
				}
			}

			.menu-link{
				padding: 21px;
			}
			.cart-search{
				margin-top: 17px;
				.cart-info{
					color: $ivory;
				}
			}
		}
		&.scrolled{
			.nav-bar{
				@include respond-max($tablet-portrait)
				{
					background: black;	
				}
				
			}
			.menu-logo,.tagline{
				opacity: 1;
			}	
		}
		.menu-logo,.tagline{
			opacity: 0;
			color: $ivory;
			@include transition((opacity .3s ease-in-out));
		}

	}
	h2{
		color: $ivory;
		font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 28px;
	}
	.slider-dots{
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom: 10px;
		ul{
			margin: 0 auto;
			text-align: center;
			li{
				display: inline-block;
				background: transparent;
				border-radius: 50%;
				background-color: $ivory;
				height: 9px;
				width: 9px;
				text-indent: -9999px;
				margin: 0 10px;
				&.slick-active{
					background-color: rgba(245,241,225,0.5);
				}
			}
		}
	}
	nav.top-menu .nav-bar{
		background: transparent;	
	}
	#content{
		margin-top: 0;
		margin-bottom: 0;
	}
	.top-slider{
		position: relative;
		overflow: hidden;
		@include respond-min($tablet-landscape)
		{
			height: 100vh;
		}
		.slick-list,.slick-track{
			height: 100%;
		}
		.slick-arrow{
			&:after{
				width: 10px;
				height: 10px;
			}
		}
		figure{
			position: relative;
				img{
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			figcaption{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex-direction: column;
				padding-bottom: 20%;
				@include respond-min($tablet-landscape)
				{
					padding-bottom: 72px;
				}
				text-align: center;
				.uz-logo{
					width: 75%;
					max-width: 684px;
					svg {
						height: auto;
						max-width: 100%;
					*{
						fill: $ivory;
						}
					}

				}
				span{
					font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					color: $ivory;
					font-size: 28px;
					letter-spacing: .1em;
					text-transform: uppercase;
					margin-bottom: 1em;
				}
				a{
				
					display: block;
					line-height: 30px;
						letter-spacing: 3px;
					
					background: black;
					color: $ivory;
					font-size: 14px;
					text-transform: uppercase;
					letter-spacing: .15em;
					padding: 0 20px;
					border: black;
					min-width: 212px;
				}
			}
		}
	}
	.home-categories{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		@include respond-min($tablet-landscape)
		{
			flex-wrap: nowrap;
		}
		.accessories-slider{
			width: 100%;
			@include respond-min($tablet-landscape)
			{
				width: 33.334%;
			}
			.slick-slider,.slick-list,.slick-track{

			}
			figure{
				width: 100%;
			}
		}
		.category-cards{
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
			@include respond-min($tablet-landscape)
			{
				flex-wrap: nowrap;
			}
			@include respond-min($tablet-landscape)
			{
				width: 66.667%;
			}
			figure{	
				@include respond-min($tablet-landscape)
				{
					width: 50%;
				}
			}
		}
		figure{
			width: 100%;
			figcaption{
				position: absolute;
				top: 0;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				padding: 0 10px;
				p{					
					letter-spacing: .3em;					
					color: $ivory;
					text-transform: uppercase;
					font-size: 16px;
					line-height: 20px;
					@include respond-min($tablet-portrait)
					{
						line-height: 26px;
						font-size: 20px;	
					}
					
				}
				a{
					font-size: 14px;
					text-transform: uppercase;
					letter-spacing: .15em;
					position: absolute;
					bottom: 18px;
					color: $ivory;
					text-transform: uppercase;
				}
				&.left{
					left: 0;
					width: 40%;
				}
				&.center{
					left: 0;
					right: 0;
					padding: 0 10%;
				}
				&.right{
					right: 0;
					width: 40%;
				}
			}
		}
	}

	.happenings{
		text-align: center;
		margin-top: 36px;
		padding: 0 25px;

		.happening-items{
			padding-bottom: 62px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: flex-end;
			flex-direction: row;
			@include respond-min($tablet-landscape)
			{
					flex-wrap: nowrap;
			}
			.featured-happening{
				
				@include respond-min($tablet-landscape)
				{
					width: calc(50% - 9px);
				}
				figure{
					width: 100%;
					img{
						object-fit:cover;
						width: 100%;
						height: 100%;
					}
					@include respond-min($tablet-landscape)
					{
						span{
							position: absolute;
							bottom: 0;
							transform: translateY(100%);
						}
					}
				}
			}			
			.more-happenings{
				
				@include respond-min($tablet-landscape)
				{
					width: calc(50% - 9px);
				}
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			figure{
				width: calc(50% - 9px);
				position: relative;
				@include respond-min($tablet-landscape)
				{
					&:nth-child(3),&:last-child{

						span{
							width: 100%;
							position: absolute;
							bottom: 0;
							left:0;
							transform: translateY(100%);
						}
					}
				}
				img{
					object-fit:cover;
					width: 100%;
					height: 100%;
					display:block;
				}
				.image-area{
					overflow: hidden;
					position: relative;
					&:hover{
						figcaption{					
							opacity: 1;
							transform: translateY(0);
						}
					}
				}
				figcaption{					
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: row;
					text-align: center;
					padding: 20px;
					opacity: 0;
					background: rgba(0,0,0,.5);
					color: $ivory;
					transform: translateY(100%);
					@include transition((opacity .3s ease-in-out, transform .3s ease-in-out));
					
				}
				span{
					padding: 24px 0;
					color: $ivory;					
					text-transform: uppercase;
					display: inline-block;
					font-size: 14px;
					line-height: 14px;
					letter-spacing: .21em;
					text-align: center;
					@include respond-min($tablet-landscape)
					{	
						line-height: 18px;
					}
				}
			}
		}
		a{
			margin-top: 0;
			min-width: 212px;
			display: inline-block;
			line-height: 30px;
			letter-spacing: 3px;
			font-size: 14px;
			text-transform: uppercase;
			background: $ivory;
			color: black;
			letter-spacing: .15em;
			padding: 0 20px;
			border: black;
		}
	}
	.page-callouts{
		margin-top: 36px;
		@include respond-min($tablet-landscape)
			{
				padding: 0 24px;
			}


		text-align: center;
		
		position: relative;
		p {
			font-size: 14px;
			line-height: 1.2em;
			margin: 10px 20px 20px;
			color: $ivory;

			a{
				display: block;
				color: $ivory;
			}
		}
		.callout-items{
			@include respond-min($tablet-landscape)
			{
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				flex-direction: row;
			}
		}
		figure{
			position: relative;
			@include respond-min($tablet-landscape)
			{
				opacity: 1!important;
				width: calc(33.334% - 9px);
			}
			figcaption{
				@include respond-max($tablet-landscape)
				{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					display: flex;
					align-items: flex-end;
					justify-content: center;
					flex-direction: row;
					text-align: center;
					padding: 0 40px 20%;
				}
				span{
					font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					color: $ivory;
					font-size: 28px;
					letter-spacing: .1em;
					line-height: 1.2em;
					text-transform: uppercase;
					margin-bottom: 1em;
				}
				a{
					font-size: 14px;
					letter-spacing: .21em;
					text-align: center;
					text-transform: uppercase;
				}
				.cta-button{
					background: black;
					color: $ivory;
					border: black;
				}
			}
		}

	}
	.insta-block{

		margin-top: 40px;
		text-align: center;
		color: $ivory;
		p {
			font-size: 16px;
			margin-top: 10px;
			a{
				display: block;
				color: $ivory;
			}
		}
		.insta-images{
			margin-top: 40px;
			padding: 0 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			figure{
				width: 33.334%;
				padding: 0 2px;
			}

		}
	}
}