$ivory : #e5ceb2;

.page-home-fall-2018{
	nav.top-menu{
		.menu-link .menu-icon:before, .menu-link .menu-icon:after, .menu-link .menu-icon .center, .menu-link .menu-icon .center:before{
			background: $ivory;
		}
		.nav-bar{
			height: 60px;
			.menu-logo{
				height: 30px;
				svg, svg *{
					fill: $ivory;
				}
			}

			.menu-link{
				padding: 21px;
			}
			.cart-search{
				margin-top: 17px;
				.cart-info{
					color: $ivory;
				}
			}
		}
		&.scrolled{
			.nav-bar{
				@include respond-max($tablet-portrait)
				{
					background: black;	
				}
				
			}
			.menu-logo,.tagline{
				opacity: 1;
			}	
		}
		.menu-logo,.tagline{
			opacity: 0;
			color: $ivory;
			@include transition((opacity .3s ease-in-out));
		}

	}
	h2{
		color: $ivory;
		font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 28px;
	}
	.slider-dots{
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom: 10px;
		ul{
			margin: 0 auto;
			text-align: center;
			li{
				display: inline-block;
				background: transparent;
				border-radius: 50%;
				border: 2px solid $ivory;
				height: 16px;
				width: 16px;
				text-indent: -9999px;
				margin: 0 10px;
				&.slick-active{
					background: $ivory;
				}
			}
		}
	}
	nav.top-menu .nav-bar{
		background: transparent;	
	}
	#content{
		margin-top: 0;
		margin-bottom: 0;
	}
	.top-slider{
		position: relative;
		overflow: hidden;
		figure{
			position: relative;
				img{
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			figcaption{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex-direction: column;
				padding-bottom: 20%;
				span{
					font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					color: $ivory;
					font-size: 28px;
					letter-spacing: .1em;
					text-transform: uppercase;
					margin-bottom: 1em;
				}
				a{
					display: block;
					line-height: 30px;
					font-size: 10px;
					text-transform: uppercase;
					background: black;
					color: $ivory;
					letter-spacing: .15em;
					padding: 0 20px;
					border: black;
				}
			}
		}
	}
	.category-slider{
	}

	.happenings{
		h2{
			padding: 0 30px;
			color: $ivory;
			font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 28px;
			letter-spacing: .1em;
		}
		text-align: center;
		margin-top: 40px;
		.happening-items{
			padding: 0 25px;
			margin-top: 20px;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			figure{
				&:first-child{
					width: 100%;
				}
				width: 49%;
				position: relative;
				figcaption{					
					padding: 10px 0;
					color: $ivory;
					text-align: left;
					&:hover{
						opacity: 1;
						@include transition((opacity .3s ease-in-out));
					}
				}
			}
		}
		a{
			display: inline-block;
			line-height: 30px;
			font-size: 10px;
			text-transform: uppercase;
			background: $ivory;
			color: black;
			letter-spacing: .15em;
			padding: 0 20px;
		}
	}
	.page-callouts{
		text-align: center;
		margin-top: 40px;
		position: relative;
		p {
			font-size: 14px;
			line-height: 1.2em;
			margin: 10px 20px 20px;
			color: $ivory;

			a{
				display: block;
				color: $ivory;
			}
		}
		figure{
			position: relative;
			figcaption{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				padding: 0 40px;
				span{
					 font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					color: $ivory;
					font-size: 28px;
					letter-spacing: .1em;
					line-height: 1.2em;
					text-transform: uppercase;
					margin-bottom: 1em;
				}
				a{
					margin-top: 100px;
					text-transform: uppercase;
				}
				.cta-button{
					background: black;
					color: $ivory;
					border: black;
				}
			}
		}

	}
	.insta-block{

		margin-top: 40px;
		text-align: center;
		color: $ivory;
		p {
			font-size: 16px;
			margin-top: 10px;
			a{
				display: block;
				color: $ivory;
			}
		}
		.insta-images{
			margin-top: 40px;
			padding: 0 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			figure{
				width: 33.334%;
				padding: 0 2px;
			}

		}
	}
}