.page-home-spring-2018{
.page-slides{

}
.section{
	position: relative;
}
.section-slides{
	position: relative;
	.arrow-left{
		margin-left: 200px;
	}
	.slick-dots{
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
		li {
			display: inline-block;
			outline: none;
			&.slick-active{
				button:before{
					background: white;
				}
			}
			button{
				font-size: 0;
				background: transparent;
				border: none;
				outline: none;
				&:before{
					cursor: pointer;
					outline: none;
					content: '';
					display: block;
					background: #ccc;
					border-radius: 50%;
					width: 10px;
					height: 10px;
					font-size: 0;
					text-indent: -999px;
				}
			}
		}
	}
}
	.slide{
		height: calc(100vh - 50px);
		position: relative;
		@include respond($tablet-portrait) {
			height: 100vh;
		}
		img{
			object-fit:cover;
			height: 100%;
			width: 100%;
		}
		.caption-overlay{
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			text-align: center;
			align-items: flex-end;
			padding-bottom: 8em;
			@include respond($tablet-portrait) {
				padding-bottom: 0;
				align-items: center;
				&.center{
					justify-content: center;
					
				}
				&.left{
					justify-content: flex-start;	
					
				}
				&.right{
					justify-content: flex-end;
					
				}
			}
		}
		.slide-caption{
			max-width: 75%;
			@include respond($tablet-portrait) {
				width: 33%;
				margin: 0 80px;
			}
			h3{
				font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 28px;
				text-transform: uppercase;
				margin-bottom: 1em;
				@include respond($tablet-portrait) {
					font-size: 35px;
				}
			}
			p{
				font-size: 14px;
				font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				margin-bottom: 1em;
			}
		}

	}	
	.fp-prev{
		@include respond($tablet-portrait) {
			left: 200px;
		}
	}
	.insta-slide{
		color: $ivory;
		text-align: center;
		.insta-block{
			padding: 2em 0;	
		}
		.insta-links{
			padding: 1em 0;
			a{
				color: $ivory;
			}

		}
		.insta-images{

			max-width: 1200px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			flex-wrap: wrap;
			padding: 0 20px;
			@include respond($tablet-portrait) {
				width: 60%;
				padding: 0px;
			}
			img{
				width: 50%;
				padding: 1%;
				@include respond($tablet-portrait) {
					width: 33.3%;
					padding: .5%;
				}
				@include respond-max($tablet-portrait) {
					&:nth-child(5),&:nth-child(6){
						display: none;
					}
				}
			}
		}
	}
	footer{
		@include respond($tablet-portrait) {
			margin-left: 200px;
		}
	};
	.down-arrow{
		display: none;
		left: 95%;
		@include respond($tablet-portrait) {
			display: block;
		}
	}
}