
.page-objects-of-desire{
	h2,h3{
		text-align: center;
		text-transform: uppercase;
		font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		letter-spacing: .1em;
		margin-bottom: .5em;
	}
	p{
		font-size: 16px;
		line-height: 22px;
		font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	h3{
		font-size: 18px;
	}
	.cover-area{
		min-height: 65vh;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		@include respond-max($tablet-portrait) {
			display: block;
			background:black;
			background-image: none!important;
			background-position: -9999px -9999px;
		}
	}
	.callout{
		margin-top: 40px;
		color: $gold;
		text-align: center;
		p{
			max-width: 800px;
			margin: 0 auto 2em;
			font-size: 16px;
			line-height: 22px;
			font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		}
	}
	.inquire{
		text-align: center;
		color: $gold;
		margin-top: 40px;
		h2{
			margin-bottom: .5em;
		}
		a{
			color: $gold;
		}
		.cta-button{
			border-color: $gold;
		}
	}
}