.page-eventbrite{
	
	h1{
		padding-top: 2em;
		text-align: center;	
	}
	.eventbrite-events{
		padding-top: 2em;
		@include respond-min($tablet-portrait)
		{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap:wrap;
		}
		.eventbrite-event{
			display: block;
			color: black;
			@include respond-min($tablet-portrait)
			{		
				width: 49%;
			}
			padding-bottom: 20px;
			.event-image{
				
				img{
					width: 100%;
				}
			}
			.event-info{
				padding-top: 20px;
				text-align: left;
				@include respond-min($tablet-portrait)
				{		
					padding-left: 25px;
				}
				
				h2{

				}
				.event-date{
					display: inline-block;
					text-align: center;					
					vertical-align: top;
					padding-right: 20px;
					width: 20%;
					@include respond($tablet-portrait)
					{		
						width: 12%;
					}
					.event-month{
						font-size: 14px;
						text-transform: uppercase;
						display: block;
						padding-bottom: 5px;
					}
					.event-day{
						font-size: 20px;
						display: block;
						padding-bottom: 10px;
					}
				}
				.event-details{
					vertical-align: top;
					display: inline-block;
					font-size: 12px;
					line-height: 16px;
					width: 79%;
					@include respond($tablet-portrait)
					{		
						width: 84%;
					}
					h2{
						font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					  font-size: 14px;
					  letter-spacing: .02em;
					  padding-bottom: 10px;
					}
				}
			}
		}
	}
	&.single{
		.eventbrite-events{
			padding-top: 0;
		}
		.eventbrite-event{
			width: 100%;
			.event-info{
				padding:20px;
				iframe{
					@include respond($tablet-portrait)
					{		
						width: 50%;
					}
					min-height: 400px;
					margin-top: 20px;
				}
			}
		}
	}
}