.page-eventbrite.single{
	h1{
		text-align: left;
		padding-top: 20px;
		margin-bottom: 30px;
	}
	.eventbrite-events .eventbrite-event .event-info .event-details h2{
		font-size: 16px;
	}
	.eventbrite-events{
		padding-top: 0;	
		.eventbrite-event{
			width: 100%;
			.event-info{
				margin: 0 auto;
				max-width: 960px;
				padding:20px;
				.event-details{
					width: 100%;
					font-size: 14px;
					line-height: 18px;
					i{
						margin: 10px 0;
						&.loc{
							position: relative;
							left: -4px;
							font-size: 20px;
						}
					}
					.event-content p,.event-content span {
						font-size: 14px;
						line-height: 22px;
						letter-spacing: .033em;
					}
					@include respond-min($tablet-portrait)
					{
						display: flex;
						align-items: flex-start;
						justify-content: center;
					
						.event-title-desc{
							width: 70%;
							margin-top: 10px;
						}
						.event-time-loc{
							font-size: 12px;
							line-height: 18px;
							width: 30%;
							padding-left: 35px;
						}
					}
				}
				iframe{
					@include respond($tablet-portrait)
					{		
						width: 70%;
					}
					min-height: 400px;
				}
			}
		}
	}
}
.ticket-widget .promo-access-code-submit.btn{
	background-color: $gold;
}