.page-about {
	.card.wide {
		.ttr-logo {
			display: inline-block;
			vertical-align: top;
		}
		.tiny-caps {
			@include respond-smaller-than($md) {
				max-width: 16em;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.quotes-slideshow {
	.slick-slide {
		transition: opacity $md-speed .25s $ease;
		&:not(.slick-current) {
			opacity: 0;
			transition: opacity $md-speed $ease;
		}
	}
	.slick-dots {
		text-align: center;
		padding-bottom: 3rem;
		margin-top: -.75rem;
		li {
			display: inline-block;
			padding: 0 10px;
			button {
				text-indent: -999px;
				overflow: hidden;
				min-width: 0;
				border-radius: 50%;
				width: 10px;
				height: 10px;
				background: transparent;
				padding: 0;
				border: 1px solid $light-text-color;
			}
			&.slick-active {
				button {
					border-color: $main-color;
					background: $main-color;
				}
			}
		}
		@include respond($lg) {
			display: none !important;
		}
	}
	.slick-arrow {
		width: 4.5rem;
		height: 4.5rem;
		background: $bg-color;
		border: none;
		border-radius: 50%;
		padding: 0;
		text-indent: -9999px;
		min-width: 0;
		overflow: hidden;
		position: absolute;
		top: 50%;
		margin-top: -2.25rem;
		z-index: 3;
		@include respond-smaller-than($lg) {
			display: none !important;
		}
		&:not(.disabled):not(.loading):hover {
			border: none;
			background: darken($bg-color, 5%);
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-30%, -50%) rotate(45deg);
			width: 1.5rem;
			height: 1.5rem;
			border-bottom: 1px solid $main-color;
			border-left: 1px solid $main-color;
		}
		&.slick-prev {
			left: 50%;
			margin-left: -24.5rem;
			@include respond($xlg) {
				margin-left: -30rem;
			}
		}
		&.slick-next {
			right: 50%;
			margin-right: -24.5rem;
			&:before {
				transform: translate(-70%, -50%) rotate(-135deg);
			}
			@include respond($xlg) {
				margin-right: -30rem;
			}
		}
	}
	.quote-container {
		max-width: 36.5rem;
		padding: $margin 0 ($margin * 1.5);
		.quote-icon {
			display: inline-block;
			color: $main-color;
			font-size: 9.375rem;
			line-height: 1em;
			font-family: $secondary-font;
		}
		p {
			&.quote {
				margin-top: -4.75rem;
				font-family: $main-font;
				font-size: 1.4rem;
				font-weight: $light;
				line-height: 1.333em;
	  		@include respond-smaller-than($md) {
					font-size: $p-font-size;
					line-height: $base-line-height;
					font-family: $secondary-font;
	  		}
			}
		}
		hr {
			max-width: 20rem;
			border-color: $main-color;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 2rem;
		}
	}
}