@import '../setup/variables';

.page-home {
	.card {
		&.wide {
			@include respond($md) {
				margin-bottom: 6rem;
			}
		}
		&.video-card {
			@include respond-smaller-than($lg) {
				&:hover {
					box-shadow: none;
				}
				margin-bottom: -$wide-gutter * 1.5;
			}
		}
	}
	.no-gutter {
		.card.shadowed {
			@include respond-smaller-than($md) {
				box-shadow: none;
			}
		}
	}
}

.quicksearch {
	margin-top: -$gutter;
	padding-bottom: $wide-gutter;

	.input-wrap {
		position: relative;
		padding-right: 160px;

		@include respond($md) {
			padding-right: 140px;
		}

		label {
			display: none;
		}

		input.idx-omnibar-input {

		}

		select.wp-listings-taxonomy {
			margin: 0;
			width: 100%;
			border-radius: 0;
			height: $btn-large-height;
			border: 1px solid $hr-color;
			background: $bg-color;
			color: $placeholder-color;

			&.with-value {
				color: $input-color;
			}



			@include respond($md) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: none;
				text-align: left;
			}
		}

		button {
			position: absolute;
			top: 0;
			right: 0;

			height: $btn-large-height;
			padding: $btn-padding;
			line-height: $btn-large-height;
			font-size: $btn-large-font-size;
			min-width: 10rem;

			background: $btn-secondary-bg;
			border: $btn-secondary-border;
			color: $btn-secondary-color;
			&:not(.disabled):not(.loading):hover {
				background: $btn-secondary-hover-bg;
				border: $btn-secondary-hover-border;
				color: $btn-secondary-hover-color;
			}
		}

		// &:after {
		// 	content: '';
		// 	display: block;
		// 	width: 2rem;
		// 	background: red;
		// 	position: absolute;
		// 	top: 1px;
		// 	bottom: 1px;
		// 	right: 14px;
		// 	background: linear-gradient(to left, rgba($bg-color, 1) 0%, rgba($bg-color ,0) 100%);
		// 	@include respond($md) {
		// 	}
		// }
	}
	input[type=text] {
		height: $btn-large-height;
		line-height: $btn-large-height - 3px;
		border: 1px solid $hr-color;
		padding-top: 0;
		padding-right: 14px;
		background: $bg-color;
		@include respond($md) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
			text-align: left;
		}
	}
	button {
		@include respond($md) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.split-section {
	*[class^="col"],
	.col {
		position: relative;
		min-height: 400px;
		min-height: 50vw;
		padding-top: $mobile-margin * 1.5;
		padding-bottom: $mobile-margin * 1.5;
		overflow: hidden;
		transform: translateZ(0);
		@include respond($md) {
			padding-top: $mobile-margin;
			padding-bottom: $mobile-margin;
		}
		&:hover {
			.background {
				transform: scale(1.05);
			}
		}
	}
	.background {
		transition: transform $md-speed $ease;
		transform-origin: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	// .cover-area {
	// 	z-index: 1;
	// }
	.overlay-box {
		position: relative;
		z-index: 2;
		background: rgba($white, .9);
		border-radius: $base-border-radius;
		padding: $gutter * 1;
		margin: 0 $mobile-margin * 1.5;
		// @include respond($md) {
		// 	margin: 0 $mobile-margin;
		// }
		@include respond($lg) {
			max-width: 22rem;
			margin: 0 auto;
			padding: $gutter * 1.5;
		}
		hr.short {
			border-color: $main-color;
			max-width: 6rem;
			margin: 1rem auto 1.75rem;
		}
	}
}