.page-property {

	section.padded {
		@include respond-smaller-than($md) {
			margin-top: 1px;
			padding-top: 0;
			padding-bottom: 0;
			background: $white;
		}
	}

	.card {
		margin-top: 0;
		@include respond($md) {
			margin-bottom: $gutter;
		}
		.rich-text {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			@include respond($lg) {
				text-align: left;
			}
		}
		&.info {
			@include respond-smaller-than($lg) {
				text-align: center;
			}
			.price {
				margin-bottom: -.2em;
			}
			.label-info {
				margin-bottom: -.4em;
				.label {
					display: block;
					text-align: center;
					@include respond($md) { 
						text-align: left;
					}
				}
				.info {
					display: block;
					text-align: center;
					@include respond($md) { 
						text-align: right;
					}
					@include respond($lg) { 
						text-align: left;
					}
				}
			}
		}
		&.split-property-info {
			.rich-text {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				@include respond($lg) {
					text-align: left;
				}
			}
			@include respond($lg) {
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 50%;
					width: 1px;
					background: $bg-color;
				}
			}
		}
		.card-header {
			.title {
				@include respond-smaller-than($lg) {
					text-align: center;
				}
			}
		}
	}

	.property-slideshow {}

	.property-slideshow-nav {
		padding: 0 3rem;
		position: relative;
		@include respond($lg) {
			// padding: 0 4rem;
		}
		.slick-slide {
			padding: $gutter $gutter/4;
			transition: opacity $md-speed $ease;
			img {
				border-radius: $base-border-radius;
			}
			&.slick-current {
				opacity: .4;
			}
		}
		.slick-arrow {
			width: 3rem;
			height: 3rem;
			background: transparent;
			border: none;
			border-radius: 50%;
			padding: 0;
			text-indent: -9999px;
			min-width: 0;
			overflow: hidden;
			position: absolute;
			top: 50%;
			margin-top: -1.5rem;
			z-index: 3;
			&:not(.disabled):not(.loading):hover {
				border: none;
				background: transparent;
				@include respond($lg) {
					border: none;
					background: transparent;
				}
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-30%, -50%) rotate(45deg);
				width: 1rem;
				height: 1rem;
				border-bottom: 1px solid $main-color;
				border-left: 1px solid $main-color;
			}
			&.slick-prev {
				left: .35rem;
				@include respond($lg) {
					left: .3rem;
				}
			}
			&.slick-next {
				right: .35rem;
				@include respond($lg) {
					right: .3rem;
				}
				&:before {
					transform: translate(-70%, -50%) rotate(-135deg);
				}
			}
		}
	}

	ul {
		&.columns {
			text-align: center;
			@include respond($md) {
				text-align: left;
				column-count: 2;	
			}
			@include respond($lg) {
				column-count: 3;	
			}
			@include respond($xlg) {
				column-count: 4;
			}
		}
		&.bullet {
			padding-bottom: .5rem;
			li {
				position: relative;
				@include tiny-caps();
				line-height: 2.5em;
				color: $light-text-color;
				@include respond($md) {
					padding-left: 1.1em;
				}
				&:before {
					color: $main-color;
					content: '• ';
					@include respond($md) {
						position: absolute;
						letter-spacing: 0;
						top: -1px;
						left: 0;
					}
				}
			}
		}
	}

	.order-first {
		@include respond($md) {
			order: 0;
		}
	}
	.order-second {
		@include respond($md) {
			order: 1;
		}
	}

	.property-visual-info {
		.card-header {
			@include respond-smaller-than($lg) {
				text-align: center;
			}
		}
	}

}