.page-search {
	.inline-grid.search-grid {
		font-size: 0;
	  letter-spacing: 0;
	  margin-left: -$gutter/2;
	  margin-right: -$gutter/2;
		.col,
		.search-item-container {
			width: 100%;
			min-height: 1px;
	    flex-grow: 0;
	    padding-left: calc(#{$gutter} / 2);
	    padding-right: calc(#{$gutter} / 2);
	    letter-spacing: $base-letter-spacing;
	    position: relative;
	    font-size: inherit;
	    letter-spacing: inherit;
	    display: inline-block;
	    vertical-align: top;
	    font-size: $base-font-size;
	    letter-spacing: $base-letter-spacing;
	    margin-bottom: $gutter;
			@include respond($sm) {
				width: 50%;
			}
			@include respond($xlg) {
				width: 33.333%;
			}
		}
	}
	.search-filters {
		@include respond($lg) {
			width: 16rem;
		}
		.card-header {
			padding: 0;
			&:last-child {
				border-bottom: none;
			}
			input[type="checkbox"]:checked {
				~ label {
					.icon {
						transform: rotate(0deg);
						&:after {
							transform: rotate(-90deg);
						}
					}
				}
				~ .accordion-content {
					display: block;
				}
			}
			input[type="checkbox"].accordion-toggle {
				display: none;
			}
			> label {
				padding-right: 33px;
				margin: 0;
				display: block;
				position: relative;
				cursor: pointer;
				padding-left: $tight-gutter;
				padding-right: calc($tight-gutter + 33px);
				color: $main-color;
				&:hover {
					color: darken($text-color, 10%);
				}
				@include ellipsis();
				.icon {
					position: absolute;
					right: 0;
					top: 50%;
					right: $tight-gutter;
					width: 23px;
					height: 1px;
					background: lighten($text-color, 60%);
					transition: transform $md-speed $ease;
					transform: rotate(90deg);
					&:after {
						content: '';
						display: block;
						background: lighten($text-color, 60%);
						position: absolute;
						left: 11px;
						top: -11px;
						height: 23px;
						width: 1px;
						transform-origin: center;
						transform: rotate(0deg);
				    	transition: transform $md-speed $ease;
					}
				}
			}
			.accordion-content {
				display: none;
				border-top: 1px solid $bg-color;
				border-bottom: 2px solid $bg-color;
				.container {
					width: 100%;
					padding-left: $tight-gutter;
					padding-right: $tight-gutter;
				}
				.checkbox-list {
					margin: $tight-gutter * .75 0;
					li {
						input[type="checkbox"] {
							border-radius: 50%;
							background: transparent;
							position: absolute;
							top: 50%;
							margin-top: -8px;
							left: $tight-gutter;
							border-color: $light-text-color;
							&:checked {
								background: transparent;
								border-color: $light-text-color;
							}
							&:after {
								width: 6px;
								height: 6px;
								border-radius: 50%;
								border: none;
								background: $main-color;
								position: absolute;
								top: 50%;
								left: 50%;
								margin: -3px;
							}
						}
						label.container {
							display: block;
							padding-left: calc(#{$tight-gutter} + 30px);
							position: relative;
							line-height: 16px;
							font-family: $secondary-font;
							font-size: 1rem;
							padding-top: 10px;
							padding-bottom: 6px;
						}
					}
				} // end .checkbox-list
			}
		}
	}
}