{% extends "base.twig" %}
{% set body_class = 'page-eventbrite-listing' %}

{% block content %}
	<div class="eventbrite-events">
		{% for event in events %}
			{{ function('print_r', event )}}
			<div class="eventbrite-event-listing">
				<h2>{{ event.post_title }}</h2>
				<img src="{{ event.logo_url }}" alt="{{ event.post_title }}">
				{% include 'eventbrite/event-schema.twig' %}

			</div>
		{% endfor %}
	</div>
{% endblock %}{# end content #}