nav.top-menu{		
	width: 100%;
	background: black;
	z-index: 99;
	position: fixed;
	top: 0;
	@include respond-min($tablet-portrait) {
		width: 200px;
		left: 0;
		bottom: 0;
	}
	&.transparent-bg{
		background: transparent;
	}
	.menu-logo{
		margin: 0 auto;
		display: block;
		text-align: center;
		display: inline-block;
		width: 173px;
		svg{
			*{
				fill: white;
			}
		}
	}
	ul{
		&.main-menu{
			@include respond-max($tablet-portrait) {
				transform: translate3d(-100%, 0, 0);
				@include transition((transform .3s ease-in-out));
				position: fixed;
				top: 50px;
				bottom: 0;
				z-index: 9;
				background: black;
				padding-right: 30px;
			}
		}
		padding-left: 30px;
		li{
			list-style: none;
			line-height: 26px;
			&.current-menu-item > a,&.current-menu-parent >  a{
				font-family: 'HelveticaNeueLTStd-Bd', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
				color: #f5f1e1!important;
			}
			a{
				font-family: 'HelveticaNeueLTStd-Lt', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
				color: #f5f1e1;
				font-size: 13px;
		    letter-spacing: 0.1em;
		    text-decoration: none;
		    &:visited{
					color: #f5f1e1;
					text-decoration: none;
				}
			}
		}
	}

	ul li ul{
		max-height: 0;
		overflow: hidden;
		@include transition((max-height .6s ease-in-out));
		&.open{
			max-height: 500px;
		}
		li {
			&.current-menu-item a{
				font-family: 'HelveticaNeueLTStd-Bd', 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
			}
			a{
				color: #aaa;
				font-family: 'HelveticaNeueLTStd-Lt', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
				&:visited{
					color: #aaa;
					text-decoration: none;
				}
			}
		}
	}
	.social{
		position: absolute;
		bottom: 30px;
		a{
			color: white;
			padding: 8px;
			font-size: 13px;
			&:first-child{
				padding-left: 0;
			}
		}
	}
	.nav-bar{
		text-align: center;
		padding: 30px 0 30px;
		@include respond-max($tablet-portrait) {
			height: 50px;
			width: 100%;
			background: black;
			position: fixed;
			top: 0;
			z-index: 9;
			padding: 10px 0;
		}
		.menu-logo{
			height: 28px;
			@include respond-max($tablet-portrait) {
				height: 20px;
			}
			display: inline-block;
			width: auto;
			svg{
				height: 100%;

			}
		}
	}
}
.menu-link {
	padding: 15px;
	display: inline-block;
	vertical-align: top;
	margin-right: -10px;
	position: absolute;
	left: 0;
	top: 0;
	@include respond-min($tablet-portrait) {
		display: none;
	}
	@include respond($md) {
		padding: 17px;
		margin-right: -17px;
	}
	.menu-open & {
		.menu-icon {
			opacity: 1;
			transform: rotate(-180deg);
			&:before {
				transform: translate3d(-100%, 0px, 0);
				opacity: 0;
				width: 0;
			}
			&:after {
				transform: translate3d(100%, 0px, 0);
				opacity: 0;
				width: 0;
			}
			.center {
				transform: rotate(-45deg);
				&:before {
					transform: rotate(-90deg);
				}
			}
		}
	}
	&:hover {
		.menu-icon {
			&:before {
				transform: translate3d(0, 2px, 0);
			}
			&:after {
				transform: translate3d(0, -2px, 0);
			}
		}
	}
	.menu-icon {
		position: relative;
		display: block;
		width: 20px;
		height: 15px;
		transition: transform .4s ease-in-out;
		&:before,
		&:after,
		.center,
		.center:before {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: white;
			position: absolute;
			transition: transform $md-speed ease-in-out, opacity $md-speed ease-in-out, width $md-speed ease-in-out;
		}
		&:before {
			top: 0;
			left: 0;
		}
		&:after {
			bottom: 0;
			right: 0;
		}
		.center {
			top: 50%;
			margin-top: -1px;
			&:before {
			}
		}
	}
}
.menu-open{
	.top-menu{
		.main-menu{
			@include respond-max($tablet-portrait) {
				transform: translate3d(0%, 0, 0);		
			}
		}
	}
}